<ul class="nav nav-pills nav-pills-danger justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/events/create">Crear Evento</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="#">Eliminar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Modificar</a>
  </li>
</ul>

<div class="table-responsive">
  <table class="table table-shopping">
      <thead>
          <tr>
              <th class="text-center"></th>
              <th>Titulo</th>
              <th class="th-description">Fecha Inicio</th>
              <th class="th-description">Fecha Fin</th>
              <th class="text-right">Fecha inicio venta</th>
              <th class="text-right">Fecha fin venta</th>
              <th class="text-right">Amount</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <div class="img-container">
                      <img src="https://images.thenorthface.com/is/image/TheNorthFace/NF0A2VFL_619_hero" alt="...">
                  </div>
              </td>
              <td class="td-name">
                  <a href="#jacket">Spring Jacket</a>
                  <br><small>by Dolce&amp;Gabbana</small>
              </td>
              <td>
                  Red
              </td>
              <td>
                  M
              </td>
              <td class="td-number">
                  <small>&#x20AC;</small>549
              </td>
              <td class="td-number">
                  1
                  <div class="btn-group">
                    <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                    <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                  </div>
              </td>
              <td class="td-number">
                  <small>&#x20AC;</small>549
              </td>
              <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-neutral btn-just-icon">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
