<form [formGroup]="createEventFormStep1">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Titulo Evento</label>
      <input type="text" class="form-control" formControlName="title" id="title" placeholder="titulo de evento">
    </div>
    <div class="form-group col-md-6">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" formControlName="description" id="description" placeholder="descripcion">
    </div>
  </div>
  <div class="form-group">
    <label for="address">Dirección</label>
    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Calle nueva">
  </div>
  <div class="form-group">
    <label for="addressNumber">Número</label>
    <input type="text" class="form-control" id="addressNumber" formControlName="addressNumber" placeholder="4589">
  </div>
  <div class="form-group">
    <label for="addressDescription">Información adicional dirección</label>
    <input type="text" class="form-control" id="addressDescription" formControlName="addressDescription" placeholder="frente a bencinera">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="state">Región</label>
      <select formControlName="region" id="region" class="form-control">
        <option selected>Seleccione...</option>
        <option *ngFor="let region of regions" [ngValue]="region.region_id">{{ region.name }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="city">Comuna</label>
      <select formControlName="commune" id="commune" class="form-control">
        <option selected>Seleccione...</option>
        <option *ngFor="let commune of communes" [ngValue]="commune.commune_id">{{ commune.name }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startDate">Fecha Inicio</label>
      <input type="text" formControlName="startDate" class="form-control" id="startDate" placeholder="dd/mm/yyyy">
    </div>
    <div class="form-group col-md-4">
      <label for="endDate">Fecha Fin</label>
      <input type="text" class="form-control" formControlName="endDate" id="endDate" placeholder="dd/mm/yyyy">
    </div>
  </div>
  <button type="button" (click)="toStep2()" [disabled]="createEventFormStep1.invalid" class="btn btn-primary">Siguiente</button>  
</form>
