<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Titulo Evento</label>
      <input type="text" class="form-control" id="title" placeholder="titulo de evento">
    </div>
    <div class="form-group col-md-6">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" id="description" placeholder="descripcion">
    </div>
  </div>
  <div class="form-group">
    <label for="address">Dirección</label>
    <input type="text" class="form-control" id="address" placeholder="Calle nueva">
  </div>
  <div class="form-group">
    <label for="addressNumber">Número</label>
    <input type="text" class="form-control" id="addressNumber" placeholder="4589">
  </div>
  <div class="form-group">
    <label for="addressDescription">Información adicional dirección</label>
    <input type="text" class="form-control" id="addressDescription" placeholder="frente a bencinera">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="state">Región</label>
      <select id="state" class="form-control">
      <option selected>Seleccione...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="city">Ciudad</label>
      <select id="city" class="form-control">
        <option selected>Seleccione...</option>
        <option>...</option>
      </select>
    </div>    
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startDate">Fecha Inicio</label>
      <input type="text" class="form-control" id="startDate" placeholder="dd/mm/yyyy">
    </div>
    <div class="form-group col-md-4">
      <label for="endDate">Fecha Fin</label>
      <input type="text" class="form-control" id="endDate" placeholder="dd/mm/yyyy">
    </div> 
  </div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Check me out
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
